/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS from here */

@media all and (min-width: 480px) {
  

}



/* Hero Image */

section.hero-image {
  background: 
  url("../aloha-project/images/banner-girl.png") no-repeat center bottom, 
  url("../aloha-project/images/flower-bkgd.jpg") no-repeat center bottom;
  height: 800px;
  background-size: 46%, cover;
}

.hero-image-new {color: rgb(255, 255, 255);
    position: absolute;
    z-index: 100;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    top: 350px;

    /* right: 39%; */
    text-align: center;
    text-shadow: 1px 1px #242424;
}

.hero-image-spring {color: rgb(255, 255, 255);
position: absolute;
z-index: 100;
top: 450px;
/* right: 270px; */
font-size: 5rem;
text-shadow: 1px 1px #242424;
text-align: center;}

/* Header */

.header {background-color: white;
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0px;
    z-index: 110;
    display: inline-flex;
    justify-content: space-around;
}


.aloha-logo {width: 150px;
height: 60px;
order: 0;
padding-top: 10px;
flex-grow: 1;

}

.cart-logo {width: 100px;
height: 60px;
order: 4;
padding-top: 10px;
flex-grow: 1;
}

.nav-bar {
display: inline-flex;
flex-grow: 5;
justify-content: center;

}

.nav-bar a {color: #e2574c;
    font-size: 20px;
    text-transform: uppercase;
    order: 2;
    padding-top: 35px;
    text-decoration-line: none;
    
}

.about {
    flex-shrink: 1;}

.shop {
    padding-left: 20px;
    flex-shrink: 5;}

.featured {
    padding-left: 20px;
    flex-shrink: 1;}

.updates {
    padding-left: 20px;
    flex-shrink: 1;}

/* WhiteSpace */

.whitespace {max-width: 500px;}

.hand {position: relative;
font-size: 50px;
display: inline;
font-style: italic;
}

.styles {position: relative;
font-size: 50px;
display: inline;
font-weight: bold;}

.aloha-description {width: 900px;
position: relative;
left: 15%;}


/* Category Container */

.container {width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 80px;
    min-width: 600px;
    }

.category.container {display: flex;
width: 100%;
flex-wrap: wrap;
}

/* Category Images */

.category.container {display: flex;
flex-direction: row;
width: 100%;

}

.mens, .trends, .bags, .glasses, .sale, .womens {
    height: 300px;
    background-size: contain;
    color: white;
    text-shadow: 1px 1px #242424;
    font-size: 50px;
    text-transform: uppercase;
}

.mens {background: url("../aloha-project/images/mens-category.jpg") no-repeat center center;
    
}

.trends {background: url("../aloha-project/images/trends-category.jpg") no-repeat center center;
    
   
     }

.glasses {background: url("../aloha-project/images/glasses-category.jpg") no-repeat center center;
    
     }

.sale {background: url("../aloha-project/images/sale-category.jpg") no-repeat center center;
    
   
     }

.bags {background: url("../aloha-project/images/bags-category.jpg") no-repeat center center;
    
     }

.womens {background: url("../aloha-project/images/womens-category.jpg") no-repeat center center;
    
     }

/* Loved-Products Container */

.most-heading {font-size: 50px;
font-style: italic;}

.most-heading em {font-style: normal;
font-weight: bold;}


.products-list {display: inline;
max-width: 200px;
min-width: 150px;
color: #e2574c;}

.products-list h6 {color: #969696;
font-size: 20px;}

/* Sign Up Section */

.sign-up.container {
    background: url("../aloha-project/images/wave-bkgd.jpg") no-repeat center bottom;
    height: 400px;
    background-size: auto auto;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-title {color: white;
font-style: italic;
font-size: 50px;
text-shadow: 1px 1px #242424;}

.sign-up-title em {color: white;
font-weight: bold;
font-style: normal;
font-size: 50px;
text-shadow: 1px 1px #242424;}

.sign-up-description {color: white;
text-shadow: 1px 1px #242424;
font-size: 20px;}

/* Footer */

footer {width: 100%;
    background-color: #242424;
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;}

.footer-media, .footer-copy{
    color:#969696;
}

.footer-copy {
    padding-right: 450px;
}

.footer-media {
    padding-left: 300px;
    line-height: 30px;
}

/* Input Section */

input  {border-radius: 60px;  
}

input[type= "text"] {width: 500px;
    height: 35px;}

input[type= "submit"] {height: 35px;}    

input:focus {color: black;
border: 1px solid transparent;
border-radius: 10px;}

/* Normal Selectors */

a {color: white;}

body {font-size: 16px; }
