/* CSS from here */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

/* HEADER */

.header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 8rem;
    top: 0px;
    z-index: 110;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.aloha-logo {
    width: 150px;
    height: 60px;
    max-width: 220px;
    max-height: 130px;
    order: 1;
    align-self: flex-start;
    padding-top: 10px;
    flex-grow: 0;   
}

.cart {
    order: 3;
    align-self: flex-start;
    flex-grow: 0;
}

.cart-logo {
    height: 60px;
    padding-top: 10px;
    padding-right: 20px;
}

.cartNumber {
    position: absolute;
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: red;
    border-radius: 36px;
    width: 18px;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    text-align: center;
    vertical-align: center;
    color: white;
    font-family: "Raleway";
}

.nav-bar {
    display: flex;
    position: fixed;
    flex-grow: 0;
    z-index: 200;
    justify-content: space-between;
    width: 90%;  
    max-width: 500px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    border-top: 1px solid rgba(0,0,0,.3);
    margin-top: 5rem;
    padding-top: 1rem;
}


/* Nav Bar Contents */

.nav-bar a {color: #e2574c;
    font-size: 1rem;
    font-family: "raleway", sans-serif;
    text-transform: uppercase;
    align-self: center;
    order: 2;
    padding-left: .8rem;
    text-decoration-line: none;  
}

.about {
    padding-left: 0;
}


/* Hero Image */

section.hero-image {
    background: 
    url("images/banner-girl.png") no-repeat center bottom, 
    url("images/flower-bkgd.jpg") no-repeat center center;
    height: 500px;
    width: 100%;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 8.5rem, cover;
}

.banner-title-1 {color: rgb(255, 255, 255);
    z-index: 100;
    font-family: "Raleway", sans-serif;
    font-size: 22px; 
    margin-top: -1.5rem;
    text-align: center;
    text-shadow: 1px 1px #242424;
}

.banner-title-2 {color: rgb(255, 255, 255);
    z-index: 100;
    font-size: 2.5rem;
    font-family: "playfair display", serif;
    width: 280px;
    align-self: center;
    margin-top: 20px;
    text-shadow: 1px 1px #242424;
    text-align: center;
}

/* About Section */

.about-section {display: flex;
    max-width: 1000px;
    min-width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.about-title {
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    font-style: italic;
    align-self: center;
    margin-bottom: 1rem;
}

.about-title em {
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
}

.about-description {
    max-width: 590px;
    min-width: 200px;
    line-height: 2rem;
    font-family: "Raleway", sans-serif;
    text-align: center; 
    margin: 20px;
}

/*  Container */

 .container {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
} 

/* Footer */

footer {
    width: 100%;
    background-color: #242424;
    display: flex;
    height: 250px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: "Playfair Display", serif;
}

.copyright {
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    font-size: .9rem;
}

.footer-media em {
    font-size: .00001px;
}

.footer-copy, .footer-address {
    min-width: 190px;
    max-width: 300px;
    text-align: center;
    line-height: 1.5rem;
    font-weight: bold;
}

.footer-media, .footer-address{
    color:#969696;
}

.footer-address {
   width: 100px;
}

.footer-copy, .footer-contact{
    color: white;
    font-weight: bold;
}

.footer-copy {
    width: 200px;
}

.footer-copy, .footer-contact, .footer-address {
   align-self: center; 
   margin-top: 1rem;
}


.footer-media {
    margin-top: 1rem;
    display: inline-flex;
    align-self: center;
    color: white;
    margin-top: 35px;
}
.footer-media span {
    color: white;
    margin: .5rem;
    margin-bottom: 5rem;
}

.footer-contact a {
    color: white;
}

/* Sign Up Section */

.sign-up.container {
    background: url("images/wave-bkgd.jpg") no-repeat center bottom;
    height: 300px;
    background-size: auto auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.sign-up-title {
    color: white;
    font-style: italic;
    font-size: 2rem;
    margin-bottom: -20px;
    font-family: "Playfair Display", serif;
    text-shadow: 1px 1px #242424;
    align-self: center;
}

.sign-up-title em {
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
    text-shadow: 1px 1px #242424;
}

.sign-up-description {
    color: white;
    text-shadow: 1px 1px #242424;
    font-size: 1rem;
    font-style: bold; 
    font-family: "Raleway", sans-serif;
    max-width: 590px;
    min-width: 400px;
    margin: 20px;
    line-height: 200%;
    align-self: center;
    margin-bottom: 1rem;
}

/* Input Section */


form {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    align-items: center;
    width: 24rem;
    height: 3.1rem;
}

input  {
    border-radius: 60px;  
}

input[type= "text"] {
    width: 24rem;
    height: 3rem;
    color: #969696;
    font-family: "Raleway";
    position: absolute;
    align-self: center;
}

input[type= "button"] {
    height: 2.5rem;
    width: 6rem;
    position: relative;
    right: 5px;
    background-color: #e2574c;
    border: .1px solid #e2574c;
    color: white;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;

}    

.button:hover {
    color: #e2574c;
    background-color: white;
    border: 1px solid #e2574c;
}

input:focus {
    color: black;
    border: 1px solid transparent;
    border-radius: 10px;
}

/* Categories */

.category {display: flex;
    min-width: 425px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: row;
}

.mens-img {
    background: url("images/mens-category.jpg") no-repeat center center;
    background-size: cover;
}     
    

.trends-img {
    background: url("images/trends-category.jpg") no-repeat center center; 
    background-size: cover;

}

.glasses-img {
    background: url("images/glasses-category.jpg") no-repeat center center; 
    background-size: cover;
}

.sale-img {
    background: url("images/sale-category.jpg") no-repeat center center;
    background-size: cover;
}

.bags-img {
    background: url("images/bags-category.jpg") no-repeat center center;
    background-size: cover;
}

.womens-img {
    background: url("images/womens-category.jpg") no-repeat center center;
    background-size: cover;
}

.category-item::before {
    margin: 50% 0;
    content: "";
}

.trends-img, .bags-img, .glasses-img, .sale-img  {
   /* width: 100%; */
   align-self: flex-start;
   flex-basis: 50%;
   height: 200px;
   border: 2.5px solid white;
}

.mens-img, .womens-img {
    /* width: 100%; */
    border: 2.5px solid white;
    flex-basis: 100%;
    height: 200px;
}

.mens-img::before, .womens-img::before {
    margin: 25% 0;
}
    
.mens, .trends, .bags, .glasses, .sale, .womens {
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(125, 125, 126, 1);
}

.category div, span {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Most-Loved Products */

.products-heading {
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    font-style: italic;
    align-self: center;
    margin-bottom: 4rem;
}

.products-heading em {
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
}

/* .products-list {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
} */

.products img {
    height: 320px;
}

.products p {
    color: #e2574c;
    font-size: 22px;
    font-family: "Playfair Display";
}

.products h6 {
    color: #969696;
    font-size: 14px;
    margin: 15px;
    font-family: "Raleway";
}

.carousel-cell {
    width: 28%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
  
.carousel-cell.is-selected {
    background: #ED2;
  }
  
  /* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

.addToCart {
    color: white;
    border-radius: 20px;
    background-color: #e2574c;
    height: 30px;
    width: 100px;
    border: 1px solid transparent;
    font-family: "Raleway";

}

.addToCart:hover {
    background-color: white;
    transition: .5s;
    border: 1px solid #e2574c;
    color: #e2574c;
}
  

@media all and (min-width: 600px) {


    /* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 320px;
    width: 100%;
}

.footer-copy, .footer-contact, .footer-address {
  align-self: flex-start;
  text-align: start;
}

.footer-copy {
  width: 220px;
}


.footer-address {
    width: 50px;
}

.copyright {
    display: flex;
    width: 85%;
    padding-left: 3%;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
}

.footer-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    width: 15%;
    max-height:300px;

}
.footer-media em {
    font-size: 1rem;
    font-family: "raleway", sans-serif;
}

.footer-media li {
    height: 30px;
}

/* Header */

.header {
    height: 6rem;
}

.nav-bar {
    border: 0px;
    width: 400px;
    padding-top: 0px;
    margin-top: 2.5rem;
}

/* Hero Image */

.banner-title-2 {
    width: 450px;
}

/* Category */

.trends-img, .bags-img, .glasses-img, .sale-img  {
    height: 180px; 
    align-self: flex-start;
    border: 2.5px solid white;
    flex-basis: 25%;
 }
 
 .mens-img, .womens-img {
     height: 180px;
     border: 2.5px solid white;
     flex-basis: 50%;
 }

}

@media all and (min-width: 1024px) {
  
  
    /* Category */

.trends-img, .bags-img, .glasses-img, .sale-img  {
    height: 300px; 
    align-self: flex-start;
    border: 2.5px solid white;
    flex-basis: 25%;
}
 
.mens-img, .womens-img {
     height: 300px;
     border: 2.5px solid white;
     flex-basis: 50%;
} 
}

  
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
